input[type="text"]{
 
  background-color: aliceblue;
  color: black;
}

input[type="text"]:focus {

  color: rgb(0, 0, 0);
}




select{
  background-color: aliceblue;
  color: black;
}

select{
  background-color: aliceblue;
  color: black;
}

select:focus {
  background-color: aliceblue;
  color: black;
}



datepicker{
  background-color: aliceblue;
  color: black;
}

select:focus {
  background-color: aliceblue;
  color: black;
}


select.form-control, select.asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row select, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint{

  color:black !important;

  background-color: aliceblue !important;
}

input[type="date"]
{
color:black !important;
background-color: aliceblue !important;

}



input {
  color:black !important;
  background-color: aliceblue !important;
  
}

/* Estilo ao focar no campo de entrada */
input:focus {
  color:black !important;
  background-color: aliceblue !important;
  
}


.select2-container--default{
  background-color: aliceblue !important;
  color: black;
}

.select2-container--default:focus{
  background-color: aliceblue ;
  color: black;
}

.select2-selection--single{
  background-color: aliceblue;
}

.select2-results__option--selectable {
  cursor: pointer;
  background-color: aliceblue;
}


.form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus {

  background-color: aliceblue;
}