{% comment %} {% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de agências</h4>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar nova Agência</button>
                        </div>
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Contato</th>
                                        <th>Nome Representante</th>
                                        <th>Telefone Representante</th>
                                        <th>Comissão</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.nomeagencia }}</td>
                                        <td>{{ dado.contatogeral }} </td>
                                        <td>{{ dado.nomerepresentante }}</td>
                                        <td>{{ dado.telefonerepresentante }}</td>
                                        <td>{{ dado.comissaoagencia }}</td>
                                        <td><label class="badge">{{dado.ativo}}</label></td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar-{{dado.idfuncionario}}">
                                                <i class="mdi mdi-grease-pencil"></i> Editar
                                            </button>
                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar-{{dado.idfuncionario}}">
                                                <i class="mdi mdi-delete"></i> Apagar
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.idfuncionario}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar agên
                                                        cia</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-agencia" >
                                                      
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="nomeagencia">Nome</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="nomeagencia" name="nomeagencia" placeholder="nome da agencia" value="{{dado.nomeagencia}}" />
                                                                    </div>
                        
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label">Contato Geral</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="contatogeral" name="contatogeral" placeholder="contato geral" value="{{dado.contatogeral}}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                                                            <div class="col-md-4">
                                                                <div class="form-group ">
                                                                    <label class="col-sm-3 col-form-label">Nome Representante</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="nomerepresentante" name="nomerepresentante" placeholder="nome do Representante" value="{{dado.nomerepresentante}}"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                        
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group ">
                                                                    <label class="col-sm-3 col-form-label">Telefone Representante</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="telefonerepresentante" name="telefonerepresentante" value="{{dado.telefonerepresentante}}">
                                                                    </input>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group ">
                                                                    <label class="col-sm-3 col-form-label">Comissão</label>
                                                                    <div class="col-sm-9">
                                                                        <input class="form-control" type="text" id="comissaoagencia" name="dado.comissaoagencia" placeholder="comissao da agencia" value="{{dado.comissaoagencia}}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                        
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registo</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar-{{dado.idfuncionario}}" tabindex="-1"
                                    role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Tem certeza que deseja apagar? Essa ação não pode ser cancelada.
                                                    </h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                        <form action="/apagar-funcionario" method="post">
                                                        <input type="hidden" value="{{dado.idfuncionario}}" name="idfuncionario">
                                                        
                                                    <button type="submit" class="btn btn-danger"> <i
                                                            class="mdi mdi-delete"></i>Apagar</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar agencia</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-agencia" >

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label" for="nomeagencia">Nome Agencia</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="nomeagencia"
                                                    name="nomeagencia" placeholder="nome da agencia" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label">contato geral</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="contatogeral"
                                                    name="contatogeral" placeholder="contato geral" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">nome Representante</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="nomerepresentante"
                                                    name="nomerepresentante" placeholder="nome Representante" />
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">tel Representante</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id = "nomerepresentante" name="telefonerepresentante">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">Data de
                                                nascimento</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="date" name="dataNascimento"
                                                    placeholder="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">nº Contribuinte</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="contribuinte">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">nº Cartão de cidadão</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="CC">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <p class="card-description"> Contactos </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">Número de telefone
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="telefone" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">email</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="exemplo@gmail.com"
                                                    name="email" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">funcionario ativo?</label>
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="ativo"
                                                            id="ativo1" value="1" checked> Ativo </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="ativo"
                                                            id="ativo2" value="0"> Desativado
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Criar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            {% include 'components/footer.html' %} {% endcomment %}