{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de departamentos</h4>
                        {% include 'components/barra_pesquisa.html' %}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar novo departamento</button>
                        </div>
                        
                        <div class="table-responsive ">

                            <table class="table" id="tabelaExemplo">
                                <thead>
                                    <tr>
                                        <th>idChefe</th>
                                        <th>nome departamento</th>
                                        <th>descrição</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.idchefe }}</td>
                                        <td>{{ dado.nomedepartamento }} </td>
                                        <td>{{ dado.descricao }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar-{{dado.iddepartamento}}">
                                                <i class="mdi mdi-grease-pencil"></i> Editar
                                            </button>
                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar-{{dado.iddepartamento}}">
                                                <i class="mdi mdi-delete"></i> Apagar
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.iddepartamento}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar departamento</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-departamento" >
                                                      
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="iddepartamento">ID Departamento: {{dado.iddepartamento}}</label>
                                                                  
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label" for="nomedepartamento">Nome do Departamento</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="nomedepartamento" name="nomedepartamento" placeholder="Nome do departamento" value="{{ dado.nomedepartamento }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label" for="nomedepartamento">Descrição</label>
                                                                    <div class="col-sm-9">
                                                                        <textarea class="form-control" id="descricao" name="descricao" placeholder="Descrição sobre o departamento">{{ dado.descricao }}</textarea>

                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="idchefe">Chefe</label>
                                                                    <div class="col-sm-8">

                                                                        <select class="form-control" id="idchefe" name="idchefe">
                                                                            {% for funcionario in funcionarios %}
                                                                                {% if funcionario.idfuncionario == dado.idchefe %}
                                                                                    <option selected value="{{ funcionario.idfuncionario }}">{{ funcionario.nomefuncionario}}</option>
                                                                                {% else %}
                                                                                    <option value="{{ funcionario.idfuncionario }}">{{ funcionario.nomefuncionario }}</option>
                                                                                {% endif %}

                                                                               
                                                                            {% endfor %}
                                                                        </select>
                                                                
                                                                    </p> 
                                                                </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registo</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar-{{dado.iddepartamento}}" tabindex="-1"
                                    role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Tem certeza que deseja apagar? Essa ação não pode ser cancelada.
                                                    </h5>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                        <form action="/apagar-departamento" method="post">
                                                        <input type="hidden" value="{{dado.iddepartamento}}" name="iddepartamento">
                                                        
                                                    <button type="submit" class="btn btn-danger"> <i
                                                            class="mdi mdi-delete"></i>Apagar</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar departamento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-departamento" >
                                                      
                                <div class="row">
                                   
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label" for="nomedepartamento">Nome do Departamento</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="nomedepartamento" name="nomedepartamento" placeholder="Nome do departamento"  >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label" for="nomedepartamento">Descrição</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="descricao" name="descricao" placeholder="Descrição sobre o departamento"></textarea>

                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="idchefe">Chefe</label>
                                            <div class="col-sm-8">

                                                <select class="form-control" id="idchefe" name="idchefe">
                                                    {% for funcionario in funcionarios %}

                                                            <option value="{{ funcionario.idfuncionario }}">{{ funcionario.nomefuncionario }}</option>

                                            
                                                       
                                                    {% endfor %}
                                                </select>
                                        
                                            </p> 
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Criar Departamento</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
   
        </div>

    </div>

</div>
            {% include 'components/footer.html' %}