{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de funcionários</h4>
                        {% include 'components/barra_pesquisa.html' %}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar novo Funcionário</button>
                        </div>
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>último Nome</th>
                                        <th>Contribuinte</th>
                                        <th>Departamento</th>
                                        <th>data de nascimento</th>
                                        <th>Ativo</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.primeironome }}</td>
                                        <td>{{ dado.ultimonome }}</td>
                                        <td>{{ dado.contribuinte }} </td>
                                        <td>{{ dado.nomedepartamento }}</td>
                                        <td>{{ dado.datanascimento }}</td>
                                        <td><label class="badge">{{dado.status}}</label></td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar-{{dado.idfuncionario}}">
                                                <i class="mdi mdi-grease-pencil"></i> Editar
                                            </button>
                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar-{{dado.idfuncionario}}">
                                                <i class="mdi mdi-delete"></i> Apagar
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.idfuncionario}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar funcionário</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-funcionario" >
                                                      
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-4 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="primeiroNome">Nome</label>
                                                                        <input type="text" class="form-control" id="primeiroNome" name="primeiroNome" placeholder="Nome do funcionário" value="{{dado.primeironome}}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="nomeDoMeio">Nomes do meio</label>
                                                                        <input type="text" class="form-control" id="nomeDoMeio" name="nomeDoMeio" placeholder="Nomes do meio do funcionário" value="{{dado.nomedomeio}}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="ultimoNome">Apelido</label>
                                                                        <input type="text" class="form-control" id="ultimoNome" name="ultimoNome" placeholder="Último nome do funcionário" value="{{dado.ultimonome}}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="genero">Gênero</label>
                                                                        <select class="form-control" name="genero">
                                                                            <option value="m" {% if dado.genero == 'm' %}selected{% endif %}>Male</option>
                                                                            <option value="f" {% if dado.genero == 'f' %}selected{% endif %}>Female</option>
                                                                            <option value="o" {% if dado.genero == 'o' %}selected{% endif %}>Outro</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="iddepartamento">Departamento</label>
                                                                        <select class="form-control" name="iddepartamento" required>
                                                                            {% for departamento in departamentos %}
                                                                                {% if departamento.iddepartamento == dado.iddepartamento %}
                                                                                    <option selected value="{{ departamento.iddepartamento }}">{{ departamento.nomedepartamento }}</option>
                                                                                {% else %}
                                                                                    <option value="{{ departamento.iddepartamento }}">{{ departamento.nomedepartamento }}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="dataNascimento">Data de nascimento</label>
                                                                        <input class="form-control" type="date" name="dataNascimento" placeholder="dd/mm/yyyy" value="{{dado.datanascimento}}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="contribuinte">nº Contribuinte</label>
                                                                        <input type="text" class="form-control" name="contribuinte" value="{{dado.contribuinte}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="CC">nº Cartão de cidadão</label>
                                                                        <input type="text" class="form-control" name="CC" value="{{dado.cc}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                            <p class="card-description"> Contactos </p>
                                                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="telefone">Número de telefone</label>
                                                                        <input type="text" class="form-control" name="telefone" value="{{dado.telefone}}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="email">Email</label>
                                                                        <input type="text" class="form-control" placeholder="exemplo@gmail.com" name="email" value="{{dado.email}}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-3">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-3 col-form-label">Funcionário ativo?</label>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-check">
                                                                                <label class="form-check-label">
                                                                                    <input type="radio" class="form-check-input" name="status" id="status" value="1" {{ 'checked' if dado.status else '' }}> Ativo
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden" name="idfuncionario" value="{{dado.idfuncionario}}">
                                                                        <div class="col-sm-5">
                                                                            <div class="form-check">
                                                                                <label class="form-check-label">
                                                                                    <input type="radio" class="form-check-input" name="status" id="status" value="0" {{ 'checked' if not dado.status else '' }}> Desativado
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                </div>
                        
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registo</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar-{{dado.idfuncionario}}" tabindex="-1"
                                    role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Tem certeza que deseja apagar? Essa ação não pode ser cancelada.
                                                    </h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                        <form action="/apagar-funcionario" method="post">
                                                        <input type="hidden" value="{{dado.idfuncionario}}" name="idfuncionario">
                                                        
                                                    <button type="submit" class="btn btn-danger"> <i
                                                            class="mdi mdi-delete"></i>Apagar</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar funcionario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-funcionario" >

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="primeiroNome">Nome</label>
                                                <input type="text" class="form-control" id="primeiroNome" name="primeiroNome" placeholder="Nome do funcionário" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="nomeDoMeio">Nomes do meio</label>
                                                <input type="text" class="form-control" id="nomeDoMeio" name="nomeDoMeio" placeholder="Nomes do meio do funcionário" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="ultimoNome">Apelido</label>
                                                <input type="text" class="form-control" id="ultimoNome" name="ultimoNome" placeholder="Último nome do funcionário" />
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="genero">Gênero</label>
                                                <select class="form-control" name="genero">
                                                    <option value="m">Male</option>
                                                    <option value="f">Female</option>
                                                    <option value="o">Outro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="iddepartamento">Departamento</label>
                                                <select class="form-control" name="iddepartamento" required>
                                                    {% for departamento in departamentos %}
                                                        <option value="{{ departamento.iddepartamento }}">{{ departamento.nomedepartamento }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="dataNascimento">Data de nascimento</label>
                                                <input class="form-control" type="date" name="dataNascimento" placeholder="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="contribuinte">nº Contribuinte</label>
                                                <input type="text" class="form-control" name="contribuinte">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="CC">nº Cartão de cidadão</label>
                                                <input type="text" class="form-control" name="CC">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <p class="card-description"> Contactos </p>
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="telefone">Número de telefone</label>
                                                <input type="text" class="form-control" name="telefone" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control" placeholder="exemplo@gmail.com" name="email" />
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Funcionário ativo?</label>
                                                <div class="col-sm-4">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="status" id="ativo1" value="1" checked> Ativo
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="status" id="ativo2" value="0"> Desativado
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Criar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            {% include 'components/footer.html' %}