{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}
<input type="hidden" id = "totalquartos" value="{{dados.totalQuartos}}">
<input type="hidden" id = "quartosdisponiveis" value="{{dados.quartosDisponiveis.quartos_disponiveis}}">
<input type="hidden" id = "ocupacao" value="{{dados.ocupacao}}">
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card" style="height: 70px; align-items: center; ">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center">
                  <h1 style="padding: 15px; font-size: 3.5vh;">Painel de administração</h1>
                <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{dados.totalClientes}}</h3>
                 
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success ">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Total de Clientes</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{dados.mediaIdades}} anos</h3>
            
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Média das idades dos clientes</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{dados.ocupacao}}%</h3>
                    <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> -->
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-danger">
                    <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Porcentagem de quartos ocupados</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{dados.dataprocurada.data}}: {{dados.dataprocurada.quantas_vezes}} rsvs</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success ">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Data mais procurada</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Quartos do Hotel</h4>


              <canvas id="grafico" class="transaction-chart"></canvas>


              <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                <div class="text-md-center text-xl-left">
                  <h6 class="mb-1">Total de quartos do hotel</h6>
 
                </div>
                <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                  <h6 class="font-weight-bold mb-0">{{dados.totalQuartos}}</h6>
                </div>
              </div>
              <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                <div class="text-md-center text-xl-left">
                  <h6 class="mb-1">Quartos disponíveis </h6>
                 
                </div>
                <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                  <h6 class="font-weight-bold mb-0">{{dados.quartosDisponiveis.quartos_disponiveis}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-8 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Quartos disponíveis para reservas hoje</h4>
                    
                  </div>
      
                  <div class="row">
                      <div class="col-12">
                          <div class="preview-list">
                              {% for dado in dados.quaisDisponiveis %}
                              <div class="preview-item border-bottom">
                                  <div class="row">
                                      <div class="col-md-2">
                                          <div class="preview-thumbnail">
                                              <div class="preview-icon bg-success">
                                                  <i class="mdi mdi-bookmark-check"></i> 
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-10">
                                          <div class="preview-item-content d-sm-flex flex-grow">
                                              <div class="flex-grow">
                                                  <h6 class="preview-subject">
                                                    &emsp;      {{ dado.descricao_quarto }}
                                                  </h6>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
       </div> 
       <div class="row">
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Média das tarifas</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">€{{dados.receitaMedia}}</h2>
                 
                  </div>
              
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Total de pagamentos recebidos</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">{{dados.pagamentos.lucro}}€</h2>
                  
                  </div>
                 
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Média de tempo de estadia</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">{{ dados.mediaEstadia|round }} dias</h2>

                 
                  </div>
                 
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Média dos preços por adulto</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">€{{dados.mediaAdultos}}</h2>
                 
                  </div>
              
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Média dos preços por criança</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">{{dados.mediaCriancas}}€</h2>
                  
                  </div>
                 
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Agência que mais efetua reservas, e quantas fez</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">{{ dados.nomeAgencia}} : {{dados.reservasAgencia}} </h2>

                 
                  </div>
                 
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
    
    </footer>
    <!-- partial -->
  </div>
  
{% include 'components/footer.html' %}

<script>
  // Coloque seu código JavaScript aqui
  if ($("#grafico").length) {
      var totalquartos = document.getElementById("totalquartos").value;
      var quartosdisponiveis = document.getElementById("quartosdisponiveis").value;
      var ocupacao = document.getElementById("ocupacao").value;
  
      var ocupados = totalquartos - quartosdisponiveis;
  
      console.log(totalquartos);
  
      var areaData = {
          labels: ["Quartos totais", "Quartos ocupados", "Quartos vagos"],
          datasets: [{
              data: [totalquartos, ocupados, quartosdisponiveis],
              backgroundColor: ["#111111", "#00d25b", "#ffab00"]
          }]
      };
  
      var areaOptions = {
          responsive: true,
          maintainAspectRatio: true,
          segmentShowStroke: false,
          cutoutPercentage: 70,
          elements: {
              arc: {
                  borderWidth: 0
              }
          },
          legend: {
              display: false
          },
          tooltips: {
              enabled: true
          }
      };
  
      var transactionhistoryChartPlugins = {
          beforeDraw: function (chart) {
              var width = chart.chart.width,
                  height = chart.chart.height,
                  ctx = chart.chart.ctx;
  
              ctx.restore();
              var fontSize = 1;
              ctx.font = fontSize + "rem sans-serif";
              ctx.textAlign = 'left';
              ctx.textBaseline = "middle";
              ctx.fillStyle = "#ffffff";
  
              var text = ocupacao +  "%",
                  textX = Math.round((width - ctx.measureText(text).width) / 2),
                  textY = height / 2.4;
  
              ctx.fillText(text, textX, textY);
  
              ctx.restore();
              var fontSize = 0.75;
              ctx.font = fontSize + "rem sans-serif";
              ctx.textAlign = 'left';
              ctx.textBaseline = "middle";
              ctx.fillStyle = "#6c7293";
  
              var texts = ":D",
                  textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
                  textsY = height / 1.7;
  
              ctx.fillText(texts, textsX, textsY);
              ctx.save();
          }
      };
  
      var transactionhistoryChartCanvas = $("#grafico").get(0).getContext("2d");
      var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
          type: 'doughnut',
          data: areaData,
          options: areaOptions,
          plugins: transactionhistoryChartPlugins
      });
  }
  </script>