{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de Pagamentos</h4>
                        {% include 'components/barra_pesquisa.html' %}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar novo pagamento</button>
                        </div>
                        
                        <div class="table-responsive ">

                            <table class="table" id="tabelaExemplo">
                                <thead>
                                    <tr>
                                        <th>ID do Pagamento</th>
                                        <th>Valor Total</th>
                                        <th>Método de Pagamento</th>
                                        <th>Tarifa Reembolsável</th>
                                        <th>Data do Pagamento</th>
                                        <th>Observações</th>
                                        <th>Status</th>
                                        <th>ID da Reserva</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.idPagamento }}</td>
                                        <td>{{ dado.valorTotal }} </td>
                                        <td>{{ dado.metodoPagamento }}</td>
                                        <td>{{ dado.tarifaReembolsavel }}</td>
                                        <td>{{ dado.dataPagamento }}</td>
                                        <td>{{ dado.observacoes }}</td>
                                        <td>{{ dado.status }}</td>
                                        <td>{{ dado.idReserva }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar-{{dado.idPagamento}}">
                                                <i class="mdi mdi-grease-pencil"></i> Editar
                                            </button>
                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar-{{dado.idPagamento}}">
                                                <i class="mdi mdi-delete"></i> Apagar
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.idPagamento}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar pagamento</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-pagamento" >
                                                      
                                                        <div class="row">
                                                            
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label" for="valorTotal">Valor Total</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="valorTotal" name="valorTotal" placeholder="Valor Total" value="{{ dado.valorTotal }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label" for="metodoPagamento">Método de Pagamento</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="metodoPagamento" name="metodoPagamento" placeholder="Método de Pagamento" value="{{ dado.metodoPagamento }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="tarifaReembolsavel">Tarifa Reembolsável</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="tarifaReembolsavel" name="tarifaReembolsavel" placeholder="Tarifa Reembolsável" value="{{ dado.tarifaReembolsavel }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="dataPagamento">Data do Pagamento</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="dataPagamento" name="dataPagamento" placeholder="Data do Pagamento" value="{{ dado.dataPagamento }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="observacoes">Observações</label>
                                                                    <div class="col-sm-8">
                                                                        <textarea class="form-control" id="observacoes" name="observacoes" placeholder="Observações">{{ dado.observacoes }}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="status">Status</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="status" name="status" placeholder="Status" value="{{ dado.status }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="idReserva">ID da Reserva</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="idReserva" name="idReserva" placeholder="ID da Reserva" value="{{ dado.idReserva }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <input type="hidden" value="{{dado.idPagamento}}" name="idPagamento">
                                                        </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registro</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar-{{dado.idPagamento}}" tabindex="-1"
                                    role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Tem certeza que deseja apagar? Essa ação não pode ser cancelada.
                                                    </h5>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                        <form action="/apagar-pagamento" method="post">
                                                        <input type="hidden" value="{{dado.idPagamento}}" name="idPagamento">
                                                        
                                                    <button type="submit" class="btn btn-danger"> <i
                                                            class="mdi mdi-delete"></i>Apagar</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar pagamento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-pagamento" >
                                                      
                                <div class="row">
                                   
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label" for="valorTotal">Valor Total</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="valorTotal" name="valorTotal" placeholder="Valor Total"  >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label" for="metodoPagamento">Método de Pagamento</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="metodoPagamento" name="metodoPagamento" placeholder="Método de Pagamento">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="tarifaReembolsavel">Tarifa Reembolsável</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="tarifaReembolsavel" name="tarifaReembolsavel" placeholder="Tarifa Reembolsável">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="dataPagamento">Data do Pagamento</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="dataPagamento" name="dataPagamento" placeholder="Data do Pagamento">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="observacoes">Observações</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" id="observacoes" name="observacoes" placeholder="Observações"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="status">Status</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="status" name="status" placeholder="Status">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="idReserva">ID da Reserva</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="idReserva" name="idReserva" placeholder="ID da Reserva">
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" value="1" name="ativo">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-success">Criar Pagamento</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>

    </div>

</div>
{% include 'components/footer.html' %}
