{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de quartos</h4>
                        {% include 'components/barra_pesquisa.html' %}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar novo Quarto</button>
                        </div>
                        
                        <div class="table-responsive ">

                            <table class="table" id="tabelaExemplo">
                                <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Descrição</th>
                                        <th>Andar</th>
                                        <th>Tipologia</th>
                                        <th>Camas de Casal</th>
                                        <th>Camas de Solteiro</th>
                                        <th>Ativo</th>
                                        <th>Disponível</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.numero }}</td>
                                        <td>{{ dado.descricao }}</td>
                                        <td>{{ dado.andar }} </td>
                                        <td>{{ dado.tipologia }} </td>
                                        <td>{{ dado.andar }} </td>
                                        <td>{{ dado.qtdcamacasal }}</td>
                                        <td>{{ dado.qtdcamasolteiro }}</td>
                                        <td><label class="badge">{{dado.ativo}}</label></td>
                                        <td><label class="badge">{{dado.estadisponivel}}</label></td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar-{{dado.numquarto}}">
                                                <i class="mdi mdi-grease-pencil"></i> Editar
                                            </button>
                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar-{{dado.numquarto}}">
                                                <i class="mdi mdi-delete"></i> Apagar
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.numquarto}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar Quarto</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-quarto" >
                                                      
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label" for="numquarto">Número</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="numquarto" name="numquarto" placeholder="número do quarto" value="{{dado.numquarto}}" />
                                                                    </div>
                        
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label">Descrição</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="descrição" value="{{dado.descricao}}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                                                            <div class="col-md-4">
                                                                <div class="form-group ">
                                                                    <label class="col-sm-3 col-form-label">Andar</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="andar" name="andar" placeholder="andar do quarto" value="{{dado.andar}}"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                        
                                                        </div>
                                                        <div class="row">
                                                            
                                                        </div>
                        
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group ">
                                                                    <label class="col-sm-3 col-form-label">nº Contribuinte</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" name="contribuinte" value="{{dado.contribuinte}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group ">
                                                                    <label class="col-sm-3 col-form-label">nº Cartão de cidadão</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" name="CC" value="{{dado.cc}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                                                        </div>
                                                        <p class="card-description"> Contactos </p>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Número de telefone
                                                                    </label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" name="telefone" value="{{dado.telefone}}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group ">
                                                                    <label class="col-sm-3 col-form-label">email</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" placeholder="exemplo@gmail.com"
                                                                            name="email" value="{{dado.email}}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                        
                                                        <!-- <div class="row">
                        
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Cliente ativo?</label>
                                                                    <div class="col-sm-4">
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                <input type="radio" class="form-check-input" name="ativo"
                                                                                    id="ativo" value="1" checked> Ativo </label>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" name="idcliente" value="{{dado.idcliente}}">
                                                                    <div class="col-sm-5">
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                <input type="radio" class="form-check-input" name="ativo"
                                                                                    id="ativo" value="0"> Desativado
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                         -->

                         <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Cliente ativo?</label>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="ativo" id="ativo" value="1" {{ 'checked' if dado.ativo else '' }}> Ativo
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="idcliente" value="{{dado.idcliente}}">
                                <div class="col-sm-5">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="ativo" id="ativo" value="0" {{ 'checked' if not dado.ativo else '' }}> Desativado
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registo</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar-{{dado.idcliente}}" tabindex="-1"
                                    role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Tem certeza que deseja apagar? Essa ação não pode ser cancelada.
                                                    </h5>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                        <form action="/apagar-cliente" method="post">
                                                        <input type="hidden" value="{{dado.idcliente}}" name="idcliente">
                                                        
                                                    <button type="submit" class="btn btn-danger"> <i
                                                            class="mdi mdi-delete"></i>Apagar</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-cliente" >

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label" for="primeiroNome">Nome</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="primeiroNome"
                                                    name="primeiroNome" placeholder="nome do cliente" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label">Nomes do meio</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="nomeDoMeio"
                                                    name="nomeDoMeio" placeholder="nomes do meio do cliente" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">Apelido</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="ultimoNome"
                                                    name="ultimoNome" placeholder="último nome do cliente" />
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">Gênero</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" name="genero">
                                                    <option value="m">Male</option>
                                                    <option value="f">Female</option>
                                                    <option value="o">outro</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">Data de
                                                nascimento</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="date" name="dataNascimento"
                                                    placeholder="dd/mm/yyyy" value="{{dataNascimento}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">nº Contribuinte</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="contribuinte">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">nº Cartão de cidadão</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="CC">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <p class="card-description"> Contactos </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">Número de telefone
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="telefone" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="col-sm-3 col-form-label">email</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="exemplo@gmail.com"
                                                    name="email" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Cliente ativo?</label>
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="ativo"
                                                            id="ativo1" value="1" checked> Ativo </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="ativo"
                                                            id="ativo2" value="0"> Desativado
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Criar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
//     jQuery(document).ready(function() {
//   jQuery('#data').DataTable({
//       "paging": true,
//       "lengthChange": true,
//       "searching": true,
//       "ordering": true,
//       "info": true,
//       "autoWidth": false,
//       "language": {
//         "lengthMenu": "Exibir _MENU_ registros por página",
//         "zeroRecords": "Nenhum registro encontrado",
//         "info": "Mostrando página _PAGE_ de _PAGES_",
//         "infoEmpty": "Nenhum registro disponível",
//         "infoFiltered": "(filtrado de _MAX_ registros no total)",
//         "search": "Pesquisar:",
//         "paginate": {
//           "first": "Primeiro",
//           "last": "Último",
//           "next": "Próximo",
//           "previous": "Anterior"
//         }
//       }
//     });
//   });^

jQuery(document).ready(function () {
    jQuery('#tabelaExemplo').DataTable({

        "columns": [
            "Nome",  
            "Contribuinte",  
            "Cartão de Cidadão",
            "Data de nascimento",
            "Ativo",
            "Apagar",

        ],
                "paging": true,         // Ativar paginação
                "lengthMenu": [5, 10, 20],  // Opções de quantidade de registros por página
                "pageLength": 5,        // Quantidade de registros por página padrão
                "ordering": true,       // Permitir ordenação
                "info": true,           // Exibir informações sobre a tabela (por exemplo, "Exibindo 1 a 10 de 20 registros")
                "searching": true,      // Permitir pesquisa
                "autoWidth": false,     // Desativar ajuste automático da largura das colunas
                // Adicione mais opções conforme necessário
            });
        });
    </script>
         

            {% include 'components/footer.html' %}