{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de Quartos</h4>
                        {% include 'components/barra_pesquisa.html' %}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar novo quarto</button>
                        </div>
                        
                        <div class="table-responsive ">

                            <table class="table" id="tabelaExemplo">
                                <thead>
                                    <tr>
                                        <th>Número do Quarto</th>
                                        <th>Descrição</th>
                                        <th>Andar</th>
                                        <th>Tipologia</th>
                                        <th>Quantidade de Camas de Casal</th>
                                        <th>Quantidade de Camas de Solteiro</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.numquarto }}</td>
                                        <td>{{ dado.descricao }} </td>
                                        <td>{{ dado.andar }}</td>
                                        <td>{{ dado.tipologia }}</td>
                                        <td>{{ dado.qtdcamacasal }}</td>
                                        <td>{{ dado.qtdcamasolteiro }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar-{{dado.numquarto}}">
                                                <i class="mdi mdi-grease-pencil"></i> Editar
                                            </button>
                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar-{{dado.numquarto}}">
                                                <i class="mdi mdi-delete"></i> Apagar
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.numquarto}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar quarto</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-quarto" >
                                                      
                                                        <div class="row">


                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label" for="descricao">Número do quarto</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="numQuarto" name="numQuarto" placeholder="Número do Quarto" value="{{ dado.numquarto }}" >
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label" for="descricao">Descrição</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição do quarto" value="{{ dado.descricao }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-5 col-form-label" for="andar">Andar</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="andar" name="andar" placeholder="Andar do quarto" value="{{ dado.andar }}" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="tipologia">Tipologia</label>
                                                                    <div class="col-sm-8">
                                                                        <select class="form-control" id="tipologia" name="tipologia">
                                                                            <option value="t0" {% if dado.tipologia == 't0' %} selected {% endif %}>t0</option>
                                                                            <option value="t1" {% if dado.tipologia == 't1' %} selected {% endif %}>t1</option>
                                                                            <option value="t2" {% if dado.tipologia == 't2' %} selected {% endif %}>t2</option>
                                                                            <option value="t3" {% if dado.tipologia == 't3' %} selected {% endif %}>t3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="ativo">Ativo?</label>
                                                                    <div class="col-sm-8">
                                                                        <select class="form-control" id="ativo" name="ativo">
                                                                            <option value="1" {% if dado.ativo == '1' %} selected {% endif %}>Sim</option>
                                                                            <option value="0" {% if dado.ativo == '0' %} selected {% endif %}>Não</option>
                                                                         
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                              <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="estadisponivel">Está Disponível?</label>
                                                                    <div class="col-sm-8">
                                                                        <select class="form-control" id="estadisponivel" name="estadisponivel">
                                                                            <option value="1" {% if dado.estadisponivel == '1' %} selected {% endif %}>Sim</option>
                                                                            <option value="0" {% if dado.estadisponivel == '0' %} selected {% endif %}>Não</option>
                                                                         
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="qtdcamacasal">Camas de Casal</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="qtdcamacasal" name="qtdcamacasal" placeholder="Quantidade de camas de casal" value="{{ dado.qtdcamacasal }}">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="qtdcamasolteiro">Camas de Solteiro</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="qtdcamasolteiro" name="qtdcamasolteiro" placeholder="Quantidade de camas de solteiro" value="{{ dado.qtdcamasolteiro }}">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <input type="hidden" value="{{dado.numquarto}}" name="numquarto">
                                                        </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registro</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar-{{dado.numquarto}}" tabindex="-1"
                                    role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Tem certeza que deseja apagar? Essa ação não pode ser cancelada.
                                                    </h5>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                        <form action="/apagar-quarto" method="post">
                                                        <input type="hidden" value="{{dado.numquarto}}" name="numquarto">
                                                        
                                                    <button type="submit" class="btn btn-danger"> <i
                                                            class="mdi mdi-delete"></i>Apagar</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar quarto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-quarto" >
                                                      
                                <div class="row">
                                   
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label" for="numquarto">Número do Quarto</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="numquarto" name="numquarto" placeholder="Número do quarto"  >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label" for="descricao">Descrição</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição do quarto">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-form-label" for="andar">Andar</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="andar" name="andar" placeholder="Andar do quarto">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="tipologia">Tipologia</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="tipologia" name="tipologia">
                                                    <option value="t0">t0</option>
                                                    <option value="t1">t1</option>
                                                    <option value="t2">t2</option>
                                                    <option value="t3">t3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="qtdcamacasal">Quantidade de Camas de Casal</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="qtdcamacasal" name="qtdcamacasal" placeholder="Quantidade de camas de casal">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-form-label" for="qtdcamasolteiro">Quantidade de Camas de Solteiro</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="qtdcamasolteiro" name="qtdcamasolteiro" placeholder="Quantidade de camas de solteiro">
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" value="1" name="ativo">
                                    <input type="hidden" value="1" name="estadisponivel">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-success">Criar Quarto</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>

    </div>

</div>
{% include 'components/footer.html' %}
