{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Status da criação: {{ status.status }} </h2>

                        {% if status.status == "200" or status.status == 1  %}
                            <p>Reserva criada com sucesso</p>
                        {% else %}
                            <p>...</p>
                        {% endif %}

        <div class="table-responsive">

            <table class="table">

                <thead>
                    <tr>
                       
                    </tr>
                </thead>
                <tbody>
                  
                </tbody>
            </table>
        
        </div>
</div>
</div>
</div>
      
        