{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de Reserva</h4>
                        {% include 'components/barra_pesquisa.html' %}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar nova Reserva</button>
                        </div>
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID da reserva</th>
                                        <th>Cliente</th>
                                        <th>Data de Entrada</th>
                                        <th>Data de Saída</th>
                                        <th>Número de Adultos</th>
                                        <th>Número de Crianças</th>
                                        <th>Número de bebés</th>
                                        <th>Observações</th>
                                        <th>Tipologia Contratada</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.idReserva }}</td>
                                        <td>{{ dado.nomeCompleto }} </td>
                                        <td>{{ dado.dataEntrada }}</td>
                                        <td>{{ dado.dataSaida }}</td>
                                        <td>{{ dado.numAdultos }}</td>
                                        <td>{{ dado.numCriancas }}</td>
                                        <td>{{ dado.numBebes }}</td>
                                        <td>{{ dado.observacoes }}</td>
                                        <td>{{ dado.tipologiaContratada }}</td>

                                    
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar-{{dado.idReserva}}">
                                                <i class="mdi mdi-grease-pencil"></i> Editar
                                            </button>
                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar-{{dado.idReserva}}">
                                                <i class="mdi mdi-delete"></i> Apagar
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.idReserva}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar Reserva</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-reserva" >
                                                      


                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="primeiroNome">Selecione o cliente</label>
                                                <div class="form-group">
                                        
                                                    <select class="js-example-basic" style="width:100%; height: 40px;" name ="idCliente">
                                                        {% for cliente in clientes %}
                                                        <option value="{{cliente.idcliente}}">{{cliente.nomecliente}}</option>
                                                    
                                                        {% endfor %}
                                                      </select>
                                                  </div>
                                                  
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="dataEntrada">Data de entrada</label>
                                                <input type="date" class="form-control" id="dataEntrada" name="dataEntrada"  />
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="dataEntrada">Data de saida</label>
                                                <input type="date" class="form-control" id="dataSaida" name="dataSaida"  />
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="genero">Número de Adultos</label>
                                                <input type="number" class="form-control" id="numAdultos" name="numAdultos" min="0">
                                            </div>
                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="genero">Número de crianças</label>
                                                <input type="number" class="form-control" id="numCriancas" name="numCriancas" min="0">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="genero">Número de bebés</label>
                                                <input type="number" class="form-control" id="numBebes" name="numBebes" min="0">
                                            </div>
                                        </div>
                                        

                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="observacoes">Observações</label>
                                                <textarea class="form-control" id="observacoes" rows="4" name="observacoes"></textarea>
                                              </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="contribuinte">Tipologia contratada</label>
                                                <select  style="width:100%; height: 40px;" id="tipologias" name="tipologiaContratada">
                                                    <option value="t0">T0</option>
                                                    <option value="t1">T1</option>
                                                    <option value="t2">T2</option>
                                                    <option value="t3">T3</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </div>
                                
                                    
                                    <div class="row">


                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="contribuinte">Atribuir Quarto? </label>
                                                <select  style="width:100%; height: 40px;" id="quartos_disponiveis" name="numQuarto">
                                                    {% for quarto in quartos %}
                                                    <option value="{{numQuarto}}">Quarto {{quarto.numQuarto}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>



                                        <div class="col-md-6 mb-3">
                                          <label for="Tarifa">Preço Manual?</label>
                                          <input type="text" class="form-control" name="tarifa" id="tarifa">
                                        </div>
                                    </div>




              
                                                          
                                                        </div>
                                                        
                                                </div>
                        
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registo</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar-{{dado.idReserva}}" tabindex="-1"
                                    role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Tem certeza que deseja apagar? Essa ação não pode ser cancelada.
                                                    </h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                        <form action="/apagar-reserva" method="post">
                                                        <input type="hidden" value="{{dado.idReserva}}" name="idReserva">
                                                        
                                                    <button type="submit" class="btn btn-danger"> <i
                                                            class="mdi mdi-delete"></i>Apagar</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar reserva</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-reserva" >

                           



                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="primeiroNome">Selecione o cliente</label>
                                                <div class="form-group">
                                        
                                                    <select class="js-example-basic" style="width:100%; height: 40px;" name ="idCliente">
                                                        {% for cliente in clientes %}
                                                        <option value="{{cliente.idcliente}}">{{cliente.nomecliente}}</option>
                                                    
                                                        {% endfor %}
                                                      </select>
                                                  </div>
                                                  
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="dataEntrada">Data de entrada</label>
                                                <input type="date" class="form-control" id="dataEntrada" name="dataEntrada"  />
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="dataEntrada">Data de saida</label>
                                                <input type="date" class="form-control" id="dataSaida" name="dataSaida"  />
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="genero">Número de Adultos</label>
                                                <input type="number" class="form-control" id="numAdultos" name="numAdultos" min="0">
                                            </div>
                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="genero">Número de crianças</label>
                                                <input type="number" class="form-control" id="numCriancas" name="numCriancas" min="0">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="genero">Número de bebés</label>
                                                <input type="number" class="form-control" id="numBebes" name="numBebes" min="0">
                                            </div>
                                        </div>
                                        

                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="observacoes">Observações</label>
                                                <textarea class="form-control" id="observacoes" rows="4" name="observacoes"></textarea>
                                              </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="contribuinte">Tipologia contratada</label>
                                                <select  style="width:100%; height: 40px;" id="tipologias" name="tipologiaContratada">
                                                    <option value="t0">T0</option>
                                                    <option value="t1">T1</option>
                                                    <option value="t2">T2</option>
                                                    <option value="t3">T3</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </div>
                                
                                    
                                    <div class="row">


                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="contribuinte">Atribuir Quarto? </label>
                                                <select  style="width:100%; height: 40px;" id="quartos_disponiveis"  name="numQuarto">
                                                    {% for quarto in quartos %}
                                                    <option value="{{numQuarto}}">Quarto {{quarto.numQuarto}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>



                                        <div class="col-md-6 mb-3">
                                          <label for="Tarifa">Preço Manual?</label>
                                          <input type="text" class="form-control" name="tarifa" id="tarifa">
                                        </div>
                                    </div>





                                </div>
                                
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Criar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            {% include 'components/footer.html' %}


            <script>
                $(document).ready(function() {
                $('.js-example-basic').select2();
            });

   
const dataEntrada = document.getElementById("dataEntrada");
const dataSaida = document.getElementById("dataSaida");


const currentDate = new Date();


dataEntrada.min = currentDate.toISOString().split("T")[0];


dataEntrada.addEventListener("input", function () {

    const dataEntradaDate = new Date(dataEntrada.value);


    dataSaida.min = dataEntradaDate.toISOString().split("T")[0];

  
    if (dataSaida.value < dataEntrada.value) {
        dataSaida.value = dataEntrada.value;
    }
});

const maxDate = new Date(currentDate);
maxDate.setFullYear(currentDate.getFullYear() + 2);
dataSaida.max = maxDate.toISOString().split("T")[0];





$('#tipologias').change(function () {
        var selectedTipologia = $(this).val();

        $.ajax({
            type: 'POST',
            url: '/quartos-tipologia',
            data: {'tipologia': selectedTipologia},
            success: function (options) {
                // Limpe as opções existentes
                console.log('Resposta do servidor:', options);
                $('#quartos_disponiveis').empty();

                // Adicione as novas opções ao segundo select
                options.forEach(function (option) {
                    $('#quartos_disponiveis').append('<option value="' + option.numQuarto + '">' + option.label + '</option>');
                });
            },
            error: function (error) {
                console.error('Erro na requisição AJAX:', error);
            }
        });
    });






            </script>