{% include 'components/head.html' %}
{% include 'components/sidebar.html' %}
{% include 'components/navbar.html' %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tabela de tarifas</h4>
                        {% include 'components/barra_pesquisa.html' %}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success create-new-button" data-toggle="modal"
                                data-target="#modalCriar">+ Adicionar ou Editar tarifas </button>
                                &nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalApagar">
                                    <i class="mdi mdi-delete"></i> Apagar Tarifas
                                </button>
                        </div>
                        
                        <div class="table-responsive ">

                            <table class="table" id="tabelaExemplo">
                                <thead>
                                    <tr>
                                        <th>id da Tarifa</th>
                                        <th>Quarto</th>
                                        <th>Data</th>
                                        <th>Preço de Adulto</th>
                                        <th>Preço de Criança</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dado in dados %}

                                    <tr>
                                        <td>{{ dado.idtarifa }}</td>
                                        <td>{{ dado.numquarto }}</td>
                                        <td>{{ dado.data }} </td>
                                        <td>{{ dado.preconoiteadulto }}</td>
                                        <td>{{ dado.preconoitecrianca }}</td>
                                     
                                       
                                        
                                    </tr>
                                    <div class="modal fade" id="modalEditar-{{dado.idtarifa}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarLabel">Editar tarifa</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="card-title"></h4>
                                                    <form class="form-sample" method="post" action="/editar-tarifa" >
                                                      
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Data de Início:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="date" class="form-control" id="data_inicio" name="data_inicio" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Data de Fim:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="date" class="form-control" id="data_fim" name="data_fim" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Preço (Adulto):</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" class="form-control" id="preco_noite_adulto" name="preco_noite_adulto" step="any" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Preço (Criança):</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" class="form-control" id="preco_noite_crianca" name="preco_noite_crianca" step="any" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Número do Quarto:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" class="form-control" id="num_quarto" name="num_quarto" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                        
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Atualizar registo</button>
                                                </div>
                                                </form>
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalApagar" tabindex="-1" role="dialog" aria-labelledby="modalApagarLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalApagarLabel">Apagar Dados</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="/apagar-tarifa" method="post">
                                                    <div class="modal-body">
                                                        <h5>Digite de quando até quando deseja apagar a tarifa, bem como o número do quarto</h5>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Data de Início:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="date" class="form-control" id="de" name="de" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Data de Fim:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="date" class="form-control" id="ate" name="ate" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 col-form-label">Número do quarto</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" class="form-control" id="numQuarto" name="numQuarto" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                        <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete"></i>Apagar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    


                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="modalCriarLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCriarLabel">Criar tarifa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title"></h4>
                            <form class="form-sample" method="post" action="/criar-tarifa" >

                              
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label">Data de Início:</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" id="data_inicio" name="data_inicio" required>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label">Data de Fim:</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" id="data_fim" name="data_fim" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label">Preço (Adulto):</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="preconoiteadulto" name="preconoiteadulto" step="any" required>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label">Preço (Criança):</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="preconoitecrianca" name="preconoitecrianca" step="any" required>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label">Número do Quarto:</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="numQuarto" name="numQuarto" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             
                          

                            

                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Criar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
   
        </div>

    </div>

</div>
            {% include 'components/footer.html' %}