
<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo logo" href="{{ url_for('index') }}">ThreeGroup</a>
      <a class="sidebar-brand brand-logo-mini logo" href="{{url_for('index')}}">TG</a>
    </div>
    <ul class="nav" >

      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('index') }}">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('rotas_cliente.listar_clientes') }}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">clientes</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('rotas_funcionario.listar_funcionarios') }}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Funcionários</span>
        </a>
      </li>



      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('rotas_departamento.listar_departamentos') }}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Departamentos</span>
        </a>
      </li>


      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('rotas_servico.listar_servicos') }}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Serviços</span>
        </a>
      </li>
      
      <li class="nav-item menu-items">
        <a class="nav-link" href="{{url_for('rotas_tarifa.listar_tarifas')}}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Tarifas</span>
        </a>
      </li>

      
      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('rotas_quarto.listar_quartos') }}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Quartos</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('rotas_reserva.listar_reservas') }}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Reservas</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="">
          <span class="menu-icon">
            <i class="mdi mdi-chart-bar"></i>
          </span>
          <span class="menu-title">Reservas de quarto</span>
        </a>
      </li>

      
 
      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('rotas_departamento.listar_departamentos') }}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Pagamentos</span>
        </a>
      </li>
 
    </ul>
  </nav>